infrastructure/.terraform/
infrastructure/.terraform/modules/
*.tfvars
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.tfstate.lock.info
.env
*.env
**/.env